.container {
  display: flex;
  height: 150;
  width: 400;
  border: 2px solid gray;
  border-radius: 50px;

  box-shadow: 0 0 3px 2px grey;
  padding: 10px;
  margin-left: 80px;
  margin-right: 80px;
  margin-bottom: 30px;
  margin-top: 30px;
}

.bio {
  margin: 10px
}

.user-name {
  font-weight: bold;
  color: steelblue;
}

/* .p {
  color: red;
} */

.facebook {
  color: gray;

}

.title {
  color: blue;
}